body {
    background-color: darkslategray;
    text-align: center;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#main {
    margin: 2.5em;
}

#resultado {
    margin-top: 1.5em;
}

#salario-mensual {
    background-color: white;
    color: black;
}

#copyright {
    font-size: .7em;
}
